<!DOCTYPE html>
<html>
<head>
  <title>Diploma Docs - заказ дипломной работы</title>
  <meta name="description" content="заказать дипломную работу в алматы" />
  <meta name="google-site-verification" content="dMSOy_7Ito0dZ2zD5_10soPuXg5Rbg84f189ch-I_EY" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container' style='width: 700px;'>
	<div class='row' style='padding-top: 5px;'>
		
		<div class='col-md-3' style='padding-top: 15px;'><a name="Заказать дипломную работу"><b><%= link_to 'Дипломные работы', translate_diploma_path %></b></div>
		<div class='col-md-1' style='padding-top: 13px;padding-left: 150px;'><%= image_tag("contact.png", :size => "25x25") %></div>
		<div class='col-md-3' style='padding-top: 11px;'><h6><b>+7 775 7721688</b></h6></div>			
	</div>
	<div class='row'>
				<div class='col-md-1' style='width: 70px; padding-top: 15px;'><h6><b>Город: </b></h6></div>
				<div class='col-md-2' style='padding-top: 15px;'>
					<marquee scrollamount="5" direction="left" height='30px' pad>
								<h6><b>
								Акколь &nbsp;
								Аксай &nbsp;
								Аксу &nbsp;
								Актау &nbsp;
								Алга &nbsp;
								Аркалык &nbsp;
								Астана &nbsp;
								Аягоз &nbsp;
								Байконыр &nbsp;
								Экибастуз &nbsp;
								Есик &nbsp;
								Есиль &nbsp;
								Хромтау &nbsp;
								Кандыагаш &nbsp;
								Караганда &nbsp;
								Каратау &nbsp;
								Каркаралинск &nbsp;
								Кокшетау &nbsp;
								Костанай &nbsp;
								Кульсары &nbsp;
								Курчатов &nbsp;
								Кызылорда &nbsp;
								Лисаковск &nbsp;
								Павлодар &nbsp;
								Петропавловск &nbsp;
								Риддер &nbsp;
								Рудный &nbsp;
								Сарань &nbsp;
								Шемонаиха &nbsp;
								Чу &nbsp;
								Степногорск &nbsp;
								Шымкент &nbsp;
								Талдыкорган &nbsp;
								Талгар &nbsp;
								Тараз &nbsp;
								Текели &nbsp;
								Темиртау &nbsp;
								Туркестан &nbsp;
								Уральск &nbsp;
								Усть-Каменогорск &nbsp;
								Жанаозен &nbsp;
								Жаркент &nbsp;
								Жезказган &nbsp;
								Житикара &nbsp;
								Зыряновск &nbsp;
								</b></h6>
					</marquee>
				</div>
	</div>
</div>

<div class='container' style='width: 700px; padding-top: 5px;'>
	<div class='row' style='padding-top: 5px;'>
		<div class='col-md-3'><a name='Перевод дипломной работы'><h6><b><%= link_to 'Перевод дипломной работы', translate_diploma_path %></b></h6></a></div>
		<div class='col-md-3'><a name='Разработка дипломной работы'><h6><b><%= link_to 'Разработка дипломной работы', create_diploma_path %></b></h6></a></div>
		<div class='col-md-3'><a name='Презентация дипломной работы'><h6><b><%= link_to 'Презентация дипломной работы', show_diploma_path %></b></h6></a></div>
	</div>
</div>

<%= yield %>

<div class='container' style='width: 700px; padding-top: 5px;'>
	<div class='row' style='padding-top: 5px;'>
		<div style='width: 500px; padding-top: 3px; padding-left: 10px;'><h6><b>Cо стороны разработчиков в обязательном порядке сообщается уведолмение об изменении(ях)</b></h6></div>
	</div>
</div>

</body>
</html>
